<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../lib/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../lib/css/main.css">
</head>

<body>
    <nav> <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class='dropdown-trigger ' href='#' data-target='dropdown1' href="#">
                        <i class="material-icons black-text">notifications</i>
                    </a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                    </ul>

                </li>
                <li>
                    <a class='dropdown-trigger ' href='#' data-target='dropdown2' href="#">
                        <i class="material-icons black-text">person</i>
                    </a>
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a href="./gegevens.html" id="huidige_gebruiker_naam"><i
                                    class="material-icons left">person</i></a></li>
                        <li><a onclick=" logout()">Logout</a></li>
                    </ul>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="">
        <ul id="slide-out" class="sidenav sidenav-fixed">

    </div>
    <div class="main-content">
        <div class="row">
            <div class="col m3 s12">
                <div class="card primary-light ">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        lorem
                    </div>
                </div>
            </div>
            <div class="col m3 s12">
                <div class="card primary-light ">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        lorem
                    </div>
                </div>
            </div>
            <div class="col m3 s12">
                <div class="card primary-light ">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        lorem
                    </div>
                </div>
            </div>
            <div class="col m3 s12">
                <div class="card primary-light ">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        lorem
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m8 s12">
                <div class="card white">
                    <div class="card-header-floating">
                        <span class="card-title">Card Title</span>
                        <span class="card-subtitle">This is a card nigga</span>
                    </div>
                    <div class="card-content ">
                        lorem
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card white">
                    <div class="card-header-floating">
                        <span class="card-title">Card Title</span>
                        <span class="card-subtitle">This is a card nigga</span>
                    </div>
                    <div class="card-content ">
                        lorem
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript" src="../lib/materialize/js/materialize.min.js"></script>
</body>

</html>